// ---------------------------------------------
// ======---------------------------------======
//  Page nav
// ======---------------------------------======
// ---------------------------------------------

@use "../functions/mixins" as *;

@layer blocks {
	// ====---------------====
	// Page nav
	// ====---------------====
	.page-nav {
		padding-inline-start: 0;

		list-style: none;

		// Mobile menu
		@include tablet-max {
			display: none;
		}

		// Tablet+ menu
		@include tablet-min {
			display: flex;

			> li {
				position: relative;

				> a {
					display: flex;

					padding: var(--space-2xs) var(--space-s);
				}
			}

			.mega,
			.dropdown {
				display: none;

				padding-block: var(--space-xs) var(--space-s);

				background: var(--clr-background);
				box-shadow: 0 2px 5px hsl(0 0% 0% / 0.3);

				font-size: var(--step--1);
			}

			// ===------ Dropdown ------===
			.dropdown {
				min-width: clamp(9.375rem, 7.174rem + 9.39vw, 15.625rem);

				gap: var(--space-2xs);

				padding-inline: var(--space-s);

				position: absolute;
				top: 100%;
				right: 0;

				list-style: none;
			}

			a[aria-expanded="true"] + .dropdown {
				display: grid;
			}

			// ===------ Mega ------===
			.mega {
				display: none;
				align-items: center;
				gap: var(--space-l);
				grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));

				position: fixed;
				left: 0;
				right: 0;

				padding-inline: var(--wrapper-fluid);

				ul {
					display: grid;
					gap: var(--space-2xs);

					padding: 0;

					list-style: none;
				}
			}

			a[aria-expanded="true"] + .mega {
				display: grid;
			}
		}
	}

	body:has([data-menu-status="open"]) {
		@include tablet-max {
			overflow: hidden;
		}
	}

	[data-menu-status="open"] {
		.page-nav {
			@include tablet-max {
				display: block;

				overflow-y: auto;

				padding: var(--space-s) var(--space-l);

				position: fixed;
				inset: var(--header-height, 10rem) 0 0;

				background-color: var(--clr-background);
			}
		}
	}

	// ====---------------====
	// Page button styles
	// ====---------------====
	.page-nav-btn {
		width: 3rem;

		display: block;

		padding: 0;

		border: 0;
		background-color: transparent;

		cursor: pointer;

		color: var(--clr-link);

		@include tablet-min {
			display: none;
		}

		> span {
			--height: 0.4em;

			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, var(--height));
			gap: var(--height);

			> span {
				width: 100%;
				height: var(--height);

				grid-column: 1;

				border-radius: var(--height);
				background: currentColor;

				&:nth-child(1) {
					grid-row: 1;
				}

				&:nth-child(2) {
					grid-row: 2;
				}

				&:nth-child(3) {
					grid-row: 3;
				}
			}
		}

		&:hover,
		&:focus {
			color: var(--clr-link-hover);
		}
	}

	[data-menu-status="open"] {
		.page-btn {
			> span {
				span:nth-child(1) {
					grid-row: 2;
					transform: rotate(45deg);
				}

				span:nth-child(2) {
					opacity: 0;
				}

				span:nth-child(3) {
					grid-row: 2;
					transform: rotate(-45deg);
				}
			}
		}
	}

	// end layer
}
