// ---------------------------------------------
// ======---------------------------------======
//  Page Header
// ======---------------------------------======
// ---------------------------------------------

@use "../functions/mixins" as *;

@layer blocks {
	// ====---------------====
	// Base
	// ====---------------====
	#page-header {
		display: grid;
		grid-template-columns: repeat(2, auto);
		gap: var(--step--1) var(--step-0);
		align-items: center;
		justify-content: space-between;

		border-block-end: 0.5rem solid var(--clr-secondary);

		> a {
			font-size: var(--step-2);
			font-weight: 700;
			text-decoration: none;
		}
	}

	// end layer
}
