// ---------------------------------------------
// ======---------------------------------======
//  Utilities - Text
// ======---------------------------------======
// ---------------------------------------------

@layer utilities {
	// ====---------------====
	// Visibility
	// ====---------------====
	.visually-hidden {
		position: absolute !important;
		width: 1px !important;
		height: 1px !important;
		padding: 0 !important;
		margin: -1px !important;
		overflow: hidden !important;
		clip: rect(0, 0, 0, 0) !important;
		white-space: nowrap !important;
		border: 0 !important;
	}

	// ====---------------====
	// Alignment
	// ====---------------====
	.text-left {
		text-align: left;
	}

	.text-center {
		text-align: center;
	}

	.text-right {
		text-align: right;
	}

	// ====---------------====
	// Lists
	// ====---------------====
	.list-basic {
		padding-inline-start: 0;

		list-style: none;
	}

	.list-inline {
		display: flex;
		gap: var(--space-s);

		padding-inline-start: 0;

		list-style: none;
	}

	// end layer
}
