// ---------------------------------------------
// ======---------------------------------======
//  Utilities - Text
// ======---------------------------------======
// ---------------------------------------------

// ====---------------====
// Alignment
// ====---------------====
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// ====---------------====
// Lists
// ====---------------====
.list-basic {
  padding-inline-start: 0;

  list-style: none;
}
