// ---------------------------------------------
// ======---------------------------------======
//  Wrappers
// ======---------------------------------======
// ---------------------------------------------
.wrapper {
  max-width: 71.25rem;

  margin-inline: auto;
  padding: var(--space-s);
}
